{% extends "main/layout.html" %}

{% block content %}
<div class="container py-4">
  <h1 class="h3 mb-4 text-gray-800">Tambah Laporan TOFS</h1>

  <div class="card border-0 shadow-sm rounded-3">
    <div class="card-body px-4 py-4">

      <form method="POST" validate>
        <div class="row g-4">

          <div class="col-md-6">
            <label for="name" class="form-label fw-semibold">Nama</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Nama lengkap" required>
          </div>

          <div class="col-md-6">
            <label for="division" class="form-label fw-semibold">Divisi</label>
            <select class="form-select" id="division" name="division">
              <option value="">-- Pilih --</option>
              <option>Production</option>
              <option>Project</option>
              <option>OSF</option>
              <option>Drilling</option>
              <option>Well Intervention</option>
              <option>SSDP</option>
              <option>SCM</option>
              <option>HSSE</option>
            </select>
          </div>

          <div class="col-md-6">
            <label for="site" class="form-label fw-semibold">Site</label>
            <select class="form-select" id="site" name="site">
              <option value="">-- Pilih --</option>
              <option>ECHO</option>
              <option>BRAVO</option>
              <option>Seapup-1</option>
              <option>Seapup-2</option>
              <option>Seapup-3</option>
              <option>Central Plant</option>
              <option>LIMA</option>
              <option>MIKE-MIKE</option>
              <option>ZULU</option>
              <option>FOXTROT</option>
              <option>PVD-I</option>
              <option>PVD-II</option>
              <option>PVD-III</option>
              <option>FSO Arjuna Prima</option>
              <option>KLA</option>
              <option>PAPA</option>
              <option>UNIFORM</option>
              <option>ORF Muara Karang</option>
              <option>ORF Tanjung Priok</option>
              <option>ORF Cilamaya</option>
              <option>OPF Balongan</option>
              <option>MB-2</option>
              <option>Project Site (Site, Barge, dll)</option>
              <option>Marunda Shorebase</option>
              <option>Lainnya (Detailkan pada sub lokasi)</option>
            </select>
          </div>

          <div class="col-md-6">
            <label for="sub_location" class="form-label fw-semibold">Sub Lokasi</label>
            <input type="text" name="sub_location" id="sub_location" class="form-control" placeholder="Detail lokasi" required>
          </div>

          <div class="col-md-6">
            <label for="date" class="form-label fw-semibold">Tanggal</label>
            <input type="date" name="date" id="date" class="form-control" required>
          </div>

          <div class="col-12">
            <label for="issue_description" class="form-label fw-semibold">Deskripsi Isu</label>
            <textarea name="issue_description" id="issue_description" class="form-control" rows="3" placeholder="Jelaskan permasalahan" required></textarea>
          </div>

          <div class="col-12">
            <label for="follow_up" class="form-label fw-semibold">Tindak Lanjut</label>
            <textarea name="follow_up" id="follow_up" class="form-control" rows="3" placeholder="Solusi atau tindakan"></textarea>
          </div>

          <div class="col-12">
            <label for="clsr_terkait" class="form-label fw-semibold">CLSR Terkait</label>
            <select class="form-select" id="clsr_terkait" name="clsr_terkait">
              <option value="">-- Pilih --</option>
              <option>1. Tools & Equipment</option>
              <option>2. Line of Fire</option>
              <option>3. Hot Work</option>
              <option>4. Confined Space</option>
              <option>5. Powered System</option>
              <option>6. Lifting Operation</option>
              <option>7. Working at Height</option>
              <option>8. Ground-Disturbance Work</option>
              <option>9. Water-Based Work Activities</option>
              <option>10. Land Transportation</option>
            </select>
          </div>

          <div class="col-12">
            <label for="perilaku_wajib" class="form-label fw-semibold">9 Perilaku Wajib</label>
            <select class="form-select" id="perilaku_wajib" name="perilaku_wajib">
                <option value="">-- Pilih --</option>
                <option>1. Saya menerapkan HSSE Golden Rules (Patuh-Intervensi-Peduli)</option>
                <option>2. Saya kompeten dan berwenang untuk melaksanakan pekerjaan</option>
                <option>3. Saya dalam kondisi sehat untuk bekerja (Fit to Work berdasarkan hasil MCU & DCU yang berlaku) dan sehat secara mental</option>
                <option>4. Saya menggunakan APD (Alat Pelindung Diri) yang sesuai</option>
                <option>5. Saya telah mengindentifikasi bahaya dan risiko sebelum pekerjaan dilaksanakan (Last Minute Risk Assessment)</option>
                <option>6. Saya melaporkan setiap kondisi abnormal/anomali yang berbahaya kepada atasan untuk ditanggulangi</option>
                <option>7. Saya memastikan permit to work yang sesuai telah tersedia dan dilaksanakan</option>
                <option>8. Saya menjaga kebersihan dan kerapihan loaksi kerja</option>
                <option>9. Saya melaksanakan perilaku kunci yang disyaratkan dalam 10 elemen CLSR</option>
            </select>
            </div>

          <div class="col-md-6">
            <div class="form-check border rounded p-3 shadow-sm">
                <input class="form-check-input" type="checkbox" id="site_supervisor" name="site_supervisor" value="1">
                <label class="form-check-label fw-semibold ms-2" for="site_supervisor">
                TOFS ini sudah dikomunikasikan dengan <u>Site Supervisor</u>
                </label>
            </div>
            </div>

        <div class="col-md-6">
            <div class="form-check border rounded p-3 shadow-sm">
                <input class="form-check-input" type="checkbox" id="site_superintendent" name="site_superintendent" value="1">
                <label class="form-check-label fw-semibold ms-2" for="site_superintendent">
                TOFS ini sudah dikomunikasikan dengan <u>Site Superintendent</u>
                </label>
            </div>
            </div>

          <div class="col-md-6">
            <label for="status" class="form-label fw-semibold">Status</label>
            <select name="status" id="status" class="form-select" required>
              <option value="">-- Pilih --</option>
              <option value="Open">Open</option>
              <option value="Closed">Closed</option>
            </select>
          </div>

        </div>

        <div class="mt-4 d-flex gap-2">
          <button type="submit" class="btn btn-primary px-4">
            <i class="fas fa-save me-2"></i> Simpan
          </button>
          <a href="{{ url_for('main.index') }}" class="btn btn-outline-secondary px-4">
            <i class="fas fa-arrow-left me-2"></i> Kembali
          </a>
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %} 